In [ ]:
import os
from pathlib import Path
directory="./"
#directory = os.fsencode(directory_in_str)
    
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".edges"): 
        #print(os.path.join(directory, filename))
        print(Path(filename).stem)
        continue
    else:
        continue

In [5]:
df

      OriginNode  DestNode
0            827       819
1            830       826
2            828       752
3            756       694
4            828       728
...          ...       ...
3307         856       729
3308         758       817
3309         819       848
3310         805       815
3311         830       819

[3312 rows x 2 columns]

In [4]:
import pandas as pd
df=pd.read_csv('686.edges',header=None)
df.columns=['OriginNode','DestNode']

In [7]:
df1=pd.read_csv('3980.edges',sep=" ",header=None)
df1.columns=['OriginNode','DestNode']

In [8]:
df1

     OriginNode  DestNode
0          4038      4014
1          4032      4027
2          4019      4026
3          4023      4003
4          4018      3997
..          ...       ...
287        4031      4027
288        4002      4027
289        4031      4013
290        4028      3996
291        3985      4004

[292 rows x 2 columns]

In [9]:
df1.head()

   OriginNode  DestNode
0        4038      4014
1        4032      4027
2        4019      4026
3        4023      4003
4        4018      3997

In [11]:
df=pd.concat([df,df1])

In [ ]:
with open('686.edges', 'r') as file:
    # Read all the lines of the file into a list
    lines = file.readlines()

# Print the list of lines
print(lines)

In [12]:
df

     OriginNode  DestNode
0           827       819
1           830       826
2           828       752
3           756       694
4           828       728
..          ...       ...
287        4031      4027
288        4002      4027
289        4031      4013
290        4028      3996
291        3985      4004

[3604 rows x 2 columns]

In [ ]:
with open('686.edges', 'r') as file:
    # Create an empty list to store the lines
    lines = []

    # Iterate over the lines of the file
    for line in file:
        # Remove the newline character at the end of the line
        line = line.strip()

        # Append the line to the list
        lines.append(line)

# Print the list of lines
print(lines)

In [ ]:
df = pd.read_table("686.edges",sep=" ",header=None)

In [ ]:
df=pd.DataFrame
#df1=pd.DataFrame
df.columns=['OriginNode','DestNode']
df1=pd.read_csv("686.edges",sep=" ",header=None)
#df=pd.concat([df, df1], ignore_index=True)
#g = nx.read_edgelist(os.path.join(directory, filename))

In [ ]:
df1

In [13]:
# creating a variable and storing the text 
# that we want to search 
search_text = ","
  
# creating a variable and storing the text 
# that we want to add 
replace_text = " "
  
# Opening our text file in read only 
# mode using the open() function 
with open(r'686.edges', 'r') as file: 
  
    # Reading the content of the file 
    # using the read() function and storing 
    # them in a new variable 
    data = file.read() 
  
    # Searching and replacing the text 
    # using the replace() function 
    data = data.replace(search_text, replace_text) 
  
# Opening our text file in write only 
# mode to write the replaced content 
with open(r'686.edges', 'w') as file: 
  
    # Writing the replaced data in our 
    # text file 
    file.write(data) 
  
# Printing Text replaced 
print("Text replaced")

Text replaced

In [ ]:
df2=pd.read_csv('686.csv')

In [ ]:
df2.head()

In [21]:
def FileContentSpaceReplace(filepath,search_text,replace_text):
    # creating a variable and storing the text 
    # that we want to search 
    #search_text = " "
  
    # creating a variable and storing the text 
    # that we want to add 
    #replace_text = ","
  
    # Opening our text file in read only 
    # mode using the open() function 
    with open(filepath, 'r') as file: 
  
        # Reading the content of the file 
        # using the read() function and storing 
        # them in a new variable 
        data = file.read() 
  
        # Searching and replacing the text 
        # using the replace() function 
        data = data.replace(search_text, replace_text) 
  
    # Opening our text file in write only 
    # mode to write the replaced content 
    with open(r'686.edges', 'w') as file: 
  
        # Writing the replaced data in our 
        # text file 
        file.write(data) 
  
    # Printing Text replaced 
    print("Text replaced")

In [22]:
FileContentSpaceReplace('686.edges',","," ")

Text replaced

In [10]:
import fileinput
import sys
filename='698 - Copy.edges'
ego=Path(filename).stem+" "
with open(filename, 'r') as f:
    lines = f.readlines()
lines = [ego+line for line in lines]
with open(filename, 'w') as f:
    f.writelines(lines)

In [12]:
import os
from pathlib import Path
directory="./"
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".edges"): 
        #Get the name of the ego user whose network we are loading
        fpath=os.path.join(directory, filename)
        ego=Path(filename).stem+" "
        with open(filename, 'r') as f:
            lines = f.readlines()
            f.close()
        lines = [ego+line for line in lines]
        with open(filename, 'w') as f:
            f.writelines(lines)
            f.close()
        continue
    else:
        continue

In [14]:
import pandas as pd
df1=pd.read_csv('0.edges')
df2=pd.read_csv('107.edges')

In [24]:
df1.describe

<bound method NDFrame.describe of       Ego  OriginNode  DestNode
0       0         236       186
1       0         122       285
2       0          24       346
3       0         271       304
4       0         176         9
...   ...         ...       ...
5033    0         171        58
5034    0         326        20
5035    0          85        75
5036    0          98       332
5037    0         291       339

[5038 rows x 3 columns]>

In [16]:
df1.dtypes

Ego           int64
OriginNode    int64
DestNode      int64
dtype: object

In [17]:
df1.head()

   Ego  OriginNode  DestNode
0    0         236       186
1    0         122       285
2    0          24       346
3    0         271       304
4    0         176         9

In [18]:
df2.head()

   Ego  OriginNode  DestNode
0  107         953      1323
1  107        1789      1707
2  107        1175      1059
3  107        1329      1559
4  107        1804      1898

In [20]:
df=pd.concat([df1,df2])

In [23]:
df.describe

<bound method NDFrame.describe of        Ego  OriginNode  DestNode
0        0         236       186
1        0         122       285
2        0          24       346
3        0         271       304
4        0         176         9
...    ...         ...       ...
53493  107        1663       946
53494  107         171        58
53495  107        1523      1520
53496  107         993      1609
53497  107        1606      1740

[58536 rows x 3 columns]>

In [22]:
df.dtypes

Ego           int64
OriginNode    int64
DestNode      int64
dtype: object

In [27]:
df=pd.read_csv('df_head.csv')
import os
from pathlib import Path
directory="./"
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".edges"): 
        #Get the name of the ego user whose network we are loading
        fpath=os.path.join(directory, filename)
        df_temp=pd.read_csv(fpath)
        df=pd.concat([df,df_temp])
        continue
    else:
        continue

In [28]:
df.describe

<bound method NDFrame.describe of      Ego OriginNode DestNode
0      0        236      186
1      0        122      285
2      0         24      346
3      0        271      304
4      0        176        9
..   ...        ...      ...
535  698        774      830
536  698        800      856
537  698        858      881
538  698        823      774
539  698        830      819

[170174 rows x 3 columns]>

In [29]:
df.head()

  Ego OriginNode DestNode
0   0        236      186
1   0        122      285
2   0         24      346
3   0        271      304
4   0        176        9